<!DOCTYPE html>
<html lang="en">
   <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--URL icon-->
      <link rel="icon" href="{{ url_for('static', filename='img/spoICO.png') }}" type="image/x-icon" />
      <link rel="shortcut icon" href="{{ url_for('static', filename='img/spoICO.png') }}" type="image/x-icon" />
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
      <!--Style css -->
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta charset="UTF-8">
      <title>SPO - Sneak Peek OSINT -- Dashboard</title>
   </head>
   <body class="dashboard">
      <nav>
         <div class="nav-wrapper blue-grey darken-4">
            <ul class="right hide-on-med-and-down">
               <li><a href="sass.html"><i class="material-icons">search</i></a></li>
               <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
               <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            </ul>
         </div>
      </nav>
      <ul class="side-nav col s6 fixed blue-grey darken-4">
         <li class="white-text center">
            <p>
               <i class="large material-icons">device_hub</i>
            <h6>S N E A K   P E E K   O S I N T</h6>
            </p>
         </li>
         <li>
            <div class="divider"></div>
            <ul class="collapsible white">
               <li>
                  <div class="collapsible-header">
                     <i class="material-icons">visibility</i>
                     Investigation
                  </div>
                  <div class="collapsible-body">
                     <a href="{{ url_for('companyInvestigation') }}" class="btn-flat tooltipped" data-position="right" data-delay="50" data-tooltip="Click here to start a new Company investigation, this is the first step for your investigation about this company.">Company Investigation</a>
                  </div>
                  <div class="collapsible-body">
                     <a href="{{ url_for('personalInvestigation') }}" class="btn-flat tooltipped" data-position="right" data-delay="50" data-tooltip="Click here to start a new personal investigation, this is the first step for your personal investigation.">Personal Investigation</a>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header">
                     <i class="material-icons">dns</i>
                     Databases
                  </div>
                  <div class="collapsible-body">
                     <a href="" class="btn-flat tooltipped" data-position="right" data-delay="50" data-tooltip="Click here to open your databases">Show Databases</a>
                     <a href="" class="btn-flat tooltipped" data-position="right" data-delay="50" data-tooltip="Click here to create a new database ">Create Database</a>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header">
                     <i class="material-icons">airplay</i>
                     Search for Servers
                  </div>
                  <div class="collapsible-body">
                     <a href="{{ url_for('searchServers') }}" class="btn-flat tooltipped" data-position="right" data-delay="50" data-tooltip="Click here to search a server or service">Server or Service</a>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header">
                     <i class="material-icons">account_circle</i>
                     Personal Trace
                  </div>
                  <div class="collapsible-body">
                     <a href="{{ url_for('personalTrace') }}" class="btn-flat tooltipped" data-position="right" data-delay="50" data-tooltip="Click here to search a person">Personal Search</a>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header">
                     <i class="material-icons">assignment_ind</i>
                     <a href="{{ url_for('aboutUS')}}" class="black-text">Contact / About us</a>
                  </div>
               </li>
               <li>
                  <div class="collapsible-header">
                     <i class="material-icons">help_outline</i>
                     Help
                  </div>
                  <div class="collapsible-body">
                     <div class="row">
                        <div class="card blue-grey black">
                           <div class="card-content white-text">
                              <span class="card-title">SPO Sneak Peek OSINT</span>
                              <p>SPO is a software for OSINT research and creates a case for investigation. If you want learn about Opensource Inteligence click below </p>
                           </div>
                           <div class="card-action">
                              <a href="{{ url_for('aboutOSINT') }}">Read more about OSINT</a>
                              <a href="{{ url_for('manual') }}">How to use SPO</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </li>
         <div class="divider"></div>
      </ul>

 <div class="row">
         <div class="col s9 offset-s3">
            <div class="card horizontal">
               <div class="card-stacked">
                  <div class="card-content">
                      <h4 class="center">P E R S O N A L  - I N V E S T I G A T I O N </h4>
                     <h6 class="center">
                        Select a single quick category for investigation or start a new project for save data on DB.
                     </h6>

                  </div>
               </div>
            </div>
            <div class="col s12 blue-grey darken-4 white-text">
               <div class="card-content blue-grey darken-4 white-text">
                  <p>
                  <h4><i class="material-icons">accessibility</i> Facebook Information</h4>
                  <form action="{{ url_for('personalInvestigation')}}" method="POST">
                     <label for="profile_facebook">Insert the facebook id here, example on link https://facebook.com.br/queirozrhodes you need insert here "queirozrhodes" only. </label>
                     <input name="profile_facebook" id="profile_facebook" type="text">
                     <div>
                        <ul class="collapsible blue-grey darken-4 white-text">
                           <li>
                                <div class="collapsible-header blue-grey darken-4 white-text modal-trigger" href="#facebook_search_view"><i class="material-icons">class</i>Show pfacebook informations</div>

                           </li>




                        </ul>
                     </div>
               </div>
               </form>
               </p>
         </div>
 <!-- View facebook search -->
<div id="facebook_search_view" class="modal">
     <div>
                        <ul class="collapsible blue-grey darken-4 white-text">
                            <div>
                        <ul class="collapsible blue-grey darken-4 white-text">
                           <li>
                              <div class="collapsible-header blue-grey darken-4 white-text"><i class="material-icons">face</i>Profile Picture</div>
                              <div class="collapsible-body blue-grey darken-4 white-text"><span>{{ photo_perfil|safe }}</span></div>
                           </li>
                           <li>
                              <div class="collapsible-header blue-grey darken-4 white-text"><i class="material-icons">email</i>Facebook Page likes</div>
                              {% for i in likes_by_facebook %}
                               <div class="collapsible-body blue-grey darken-4 white-text"><span>{{ i }}</span></div>
                               {% endfor %}
                           </li>
                        </ul>
                            </div>
                        </ul>
                     </div>

         </div>



      <div class="col s4 m4"></div>
      <div class="fixed-action-btn">
         <a class="btn-floating btn-large tooltiped red ">
         <i class="large material-icons">settings</i>
         </a>
         <ul>
            <li><a href="{{ url_for('insertKeys') }}" class="btn-floating tooltipped light-blue darken-4" data-position="bottom" data-delay="50" data-tooltip="Add social media keys"><i class="material-icons">vpn_key</i></a></li>
            <li><a href="{{ url_for('exit') }}" class="btn-floating tooltipped grey darken-4" data-position="bottom" data-delay="50" data-tooltip="exit"><i class="material-icons">move_to_inbox</i></a></li>
         </ul>
      </div>
      </li>
      </div>
      <!--jQuery materialize-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- Compiled and minified JavaScript -->
      <script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
      <script src="{{ url_for('static', filename='js/button.js') }}"></script>
     <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
   </body>
</html>